.graph{
    margin-top: 1rem;
    border: 1px solid rgb(104,104,113);
}
.graph img{
    width: 100%;
}
.table{
    width: 100%;
}
.thead tr{

    padding: 0.5rem;
    border-bottom: 1px solid #666;
}
.thead tr th{
    color: var(--secondary-text-color);
    font-size: 0.75rem;
}

.tbody tr td{
    color: white;
    
    font-size: 0.75rem;
}
