ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}